description "flower"

start on started celery
stop on stopping celery

respawn
setuid {{ remote_user }}
setgid {{ remote_user }}

script
    . /etc/environment
    export PATH=/home/{{ remote_user }}/.envs/{{ app }}/bin
    chdir /home/{{ remote_user }}/{{ app }}
    exec celery flower -A {{ app }}.celery --loglevel=debug
end script