description "celeryd"

start on started celery
stop on stopping celery

respawn
setuid {{ remote_user }}
setgid {{ remote_user }}

script
    . /etc/environment
    export PATH=/home/{{ remote_user }}/.envs/{{ app }}/bin
    chdir /home/{{ remote_user }}/{{ app }}
    exec celery worker -A {{ app }}.celery --loglevel=DEBUG -c 4 -n worker{{ item }}.%h   
end script
