description "Gunicorn application server running {{ app }}"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
setuid {{ remote_user }}
setgid www-data

script
    . /etc/environment
    export PATH=/home/{{ remote_user }}/.envs/{{ app }}/bin
    chdir /home/{{ remote_user }}/{{ app }}
    exec gunicorn --workers 3 --bind unix:{{ app }}.sock wsgi:app
end script
