description "celeryd"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
setuid {{ remote_user }}
setgid {{ remote_user }}

script
    . /etc/environment
    export PATH=/home/{{ remote_user }}/.envs/{{ app }}/bin
    chdir /home/{{ remote_user }}/{{ app }}
    exec celery worker -A {{ app }}.celery --loglevel=DEBUG -c 4 -n worker1.%h
end script
