

  upstream backend {
    #  use backend that has the least number of active connections
    ip_hash;

    server {{ groups['ss-web'][0] }};
    server {{ groups['ss-web'][1] }};
  }

  server {
    # redirect www subdomain to root
    server_name www.{{ server_name }};
    return 301 $scheme://{{ server_name }}$request_uri;
  }

  server {
    listen 80;
    server_name {{ server_name }};
    location / {
      proxy_set_header  Host  $host;
      # So the original HTTP Host header is preserved
      proxy_set_header  X-Real-IP $remote_addr;
      # The IP address of the client (which might be a proxy itself)
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      # The IP address in the HTTP X-Forwarded-For header (which would be the 'origin' client).
      
      proxy_pass http://backend;
    }
  }
