# env vars

export APP_SETTINGS="config.ProductionConfig"
export ROOT_URL="{{ http_protocol }}://{{ server_name }}"

#  DATABSE -> Local
### export DATABASE_URL="postgres://{{ remote_user }}:{{ remote_user }}@localhost/{{ app }}"

#  DATABSE -> Remote
export DATABASE_URL="postgres://{{ db_user }}:{{ db_password }}@{{ groups['ss-db'][0] }}/{{ app }}"

export UPLOAD_FOLDER="/home/{{ remote_user }}/{{ app }}/{{ app }}/static/files/"
export VOICES_UPLOAD_FOLDER="/home/{{ remote_user }}/{{ app }}/{{ app }}/static/files/voices/"
export APP_MAIL_USERNAME="{{ app }}"
export APP_MAIL_PASSWORD="{{ app }}2015"
export BROKER_URL="amqp://guest@localhost//"

#  Celery Broker -> REDIS
export BROKER_BACKEND="redis://localhost:6379/0"

#  Celery Broker -> RabbitMQ
### export BROKER_BACKEND="amqp://guest@localhost//"

export USE_CELERY="true"
export RUNTESTS="true"
export LOGGING_URL="logs3.papertrailapp.com:13806"
export CONTACT_EMAIL="sam@rivalschoolsonline.com"

# MAILCHMIP
export MAILCHIMP_API_KEY="{{ mailchimp_key }}"
export MAILCHIMP_LIST_ID="{{ mailchimp_list_id }}"

# ACAPELA
export ACAPELA_ACCOUNT_LOGIN="{{ acapela_account_login }}"
export ACAPELA_APP_LOGIN="{{ acapela_app_login }}"
export ACAPELA_PASSWORD="{{ acapela_password }}"

# Amazon s3
export S3_KEY="{{ s3_key }}"
export S3_SECRET="{{ s3_secret }}"

# PAYPAL
export PAYPAL_TOKEN="{{ paypal_token }}"